.hidden {
    display: none;
}
/* Basic reset for padding and margins */
body, h1, div, form, input, button {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Basic styling for the body */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 10px;
    background-color: #ccc;
}

/* Header styling */
h1 {
    color: #333;
    text-align: center;
}

/* Container for the entire chat application */
.container {
    width: 80%;
    margin: 20px auto;
    border: 1px solid #ccc;
    background: #f9f9f9;
    padding: 20px;
}

/* Style the chat area */
#chat {
    height: 700px;
    overflow-y: auto;
    border: 1px solid #ccc;
    background: #e8e8e8;
    margin-bottom: 10px;
    padding: 10px;
}

/* Each message */
#chat div {
    margin-bottom: 5px;
    padding: 8px;
    background: #ffffff;
    border: 1px solid #ddd;
}

/* The message input form */
#message-form {
    display: flex;
}

/* The message input field */
#message-form input[type="text"] {
    flex: 1;
    padding: 10px;
    margin-right: 5px;
}

#usernameInput {
    border:none;
    outline:none;
    height:34px;
    bottom:14px;
    right:9px;
    border-radius:22px;
    width:220px;
    box-sizing:border-box;
    padding:0 18px; 
}

/* General button styling */
button {
    padding: 10px 20px;
    cursor: pointer;
    background-color: #5cabff;
    border-radius: 10px;
    border: none;
    color: white;
}

/* Button hover effect */
button:hover {
    background-color: #4292f4;
}

/* Additional styling for clear button */
#clear {
    margin-left: 5px;
    background-color: #ff6b6b;
}

#clear:hover {
    background-color: #fa5252;
}

ul li {
    color:green;
    list-style-type:circle;
    font-weight: bold;
    }

ul li span{
    color:black;
    font-weight: bold;
    }

#namePlace{
    font-weight: bold;
}
        

input[type="file"]{
display: none;}

label {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
    border-radius: 15px;
    margin-right: 5px;
    padding: 5px;
    width: 30px
}

label:hover {
    cursor: pointer;
}

img {
    display:block;
    width: 500px;
}

/* media query */
@media only screen and (max-width: 900px) {
    img {
        width: 300px;
    }
  }